<h2>Crear Ingreso</h2>
<form>
    <div class="form-group">
        <label for="nombreIngreso">Nombre del Ingreso</label>
        <input name="nombre" type="text" class="form-control" id=nombreIngreso placeholder="Ingrese el nombre del Ingreso" [(ngModel)]="ingreso.descripcion">
    </div>
    <div class="form-group">
        <label for="categoriaControlSelect">Seleccione una categoria</label>
        <select name="nombreCategoria" id="categoriaControlSelect" [(ngModel)]="ingreso.idCategoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">{{ categoria.nombre }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="crearIngreso()">Guardar</button>
    <button type="submit" class="btn btn-light" (click)="cancelar()">Cancelar</button>
</form>